body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Header portion */

.header,
.footer {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-main-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.hero-secondary-text,
.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-content-container {
    display: flex;
    margin-bottom: 120px;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.header-content-text-item {
    max-width: 500px;
}

.header-content-image img{
    height: 300px;
    width: 500px;
}

a {
    text-decoration: none;
}

.header ul {
    gap: 32px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
    margin-top: 18px;
}

.header {
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 80px;
}

.header button {
    font-size: 18px;
    border-radius: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 32px;
    padding-left: 32px;
    color: #F9FAF8;
    font-weight: bold;
    border: solid;
    border-color: #3882F6;
}
/* Header portion Ends */


/* Information Section */

.info-box {
    text-align: center;
    padding: 24px;
    margin-bottom: 72px;
    padding-left: 200px;
    padding-right: 200px;
}

.information-header {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    width: 100%;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.feature-list-item {
    max-width: 300px;
}

.feature-list-item img {
    border:solid;
    border-radius: 14px;
    border-color: #3882F6;
    margin-bottom: 16px;
    height: 250px;
    width: 250px;
}

/* Information Section End */


/* Inspirational Quote Box */

.inspirational-quote {
    background-color: #E5E7EB;
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.quote-source-container {
    text-align: right;
}

/* Inspirational Quote Box End*/

/* Call-to-Action Section */

.call-to-action {
    padding: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.call-to-action-box {
    color: #E5E7EB;
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 350px;
    padding-right: 350px;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 48px;
    border-radius: 12px;
}

.call-to-action-box button {
    color:#F9FAF8;
    padding: 16px;
    border: solid;
    border-color: #F9FAF8;
    font-size: 18px;
    border-radius: 8px;
}

.call-to-action-text {
    color: #F9FAF8;
    font-size: 18px;
    padding: 0;
}
/* Call-to-Action Section End */

button {
    background-color: #3882F6;
}

/* Footer */

.footer {
    font-size: 18px;
    color: #F9FAF8;
    text-align: center;
    padding: 12px;
}

/* Footer Ends*/

@media (max-width: 650px) {
    body{
        font-size: 14px;
    }

    .header-content-container {
        flex-direction: column;
        width: 100%;
        gap: 1.5rem;
        align-items: stretch;
        justify-content: stretch;
    }

    .header{
        padding: 1rem;
        align-items: flex-start;
        justify-content: flex-start;
    }

    ul{
        flex-direction: column;
    }

    .hero{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 1.5rem;
    }

    .hero ul{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    .logo{
        font-size: 18px;
    }

    .hero-main-text{
        font-size: 26px;
    }

    .hero-secondary-text,
    .header{
        font-size: 16px;
    }

    .header-content-container button{
        font-size: 16px;
        padding: 0.8rem;
    }

    .header-content-image img{
        height: 250px;
        width: 300px;
    }

    .content-parent-container{
        flex: auto;
    }

    /* Second section */

    .info-box{
        padding: 1rem;
        text-align: center;
    }

    .information-header{
        display: flex;
        font-size: 26px;
    }

    .feature-list{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .feature-list-item img {
        height: 180px;
        width: 180px;
    }

    /* 3rd Section */

    .inspirational-quote{
        padding: 1rem;
    }

    .quote-text{
        font-size: 22px;
    }

    /* 4th Section */

    .call-to-action{
        align-items: flex-start;
        justify-content: center;
    }

    .call-to-action-box{
        padding: 3rem;
        flex-direction: column;
        text-align: center;
    }
}